@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/*Переменные*/
/*--------------------*/
.header {
  height: 750px;
}

.fon-topbar {
  position: relative;
  margin: 0 auto;
  max-width: 1600px;
}

.header__img {
  position: absolute;
  top: -51px;
}

.container2 {
  position: relative;
  max-width: 1440px;
  z-index: 1000;
  margin: 0 auto;
}

.top-bar {
  margin-top: 51px;
  font-size: 15px;
}
.top-bar .logo__txt {
  padding-left: 13px;
}
.top-bar .nav {
  margin-top: 7px;
}
.top-bar .nav__link {
  padding-right: 55px;
}
.top-bar .active:hover {
  color: black;
}
.top-bar a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.top-bar .button {
  color: white;
  background: none;
  border: 1px white solid;
  padding: 5px 20px;
  border-radius: 2px;
}

.description {
  margin-top: 170px;
  color: white;
}
.description .txt-description_size_xl {
  font-size: 60px;
}
.description .button-description {
  margin-top: 43px;
}
.description .btn-blue {
  background: #061e37;
  border: #061e37;
}
.description .btn-white {
  background: #ffffff;
  border: #ffffff;
  color: #061e37;
}
.description .btn {
  box-shadow: 0 3px 15px 1px rgba(58, 58, 58, 0.5);
  margin-right: 30px;
}
.description .video-description {
  width: 600px;
  height: 320px;
  background: white;
  border-radius: 7px;
  border: 1.5px black solid;
  box-shadow: 0 10px 15px 3px rgba(58, 58, 58, 0.5);
}
.description .play {
  position: relative;
  cursor: pointer;
  margin: 120px 260px;
}
.description .button-fon {
  position: absolute;
}
.description .arrow {
  position: absolute;
  margin-top: 27px;
  margin-left: 34px;
}

.description-white-block {
  width: 100%;
  height: 804px;
  background: #ffffff;
  padding-top: 100px;
}
.description-white-block .description-white-block-txt {
  text-align: center;
  width: 580px;
}
.description-white-block .description-white-block-txt_size_xl {
  font-size: 50px;
}
.description-white-block .description-white-block-txt_size_m {
  font-size: 25px;
  color: #b0bec5;
}
.description-white-block .description-white-block-txt_size_s {
  font-size: 15px;
  color: #b0bec5;
  padding-top: 10px;
}
.description-white-block .title__item {
  text-align: center;
  width: 350px;
}
.description-white-block .title {
  margin-top: 95px;
}
.description-white-block .btn {
  margin-top: 80px;
}

.statistics__item {
  width: 400px;
  height: 150px;
  background: chartreuse;
}

.fon-color_a {
  background: #80d8ff;
}

.fon-color_b {
  background: #82b1ff;
}

.fon-color_c {
  background: #b388ff;
}

.fon-color_d {
  background: #ea80fc;
}

.statistics__img, .statistics__circle {
  position: absolute;
  margin-top: 50px;
}

.statistics__img {
  margin-top: 69px;
}

.margin_a {
  margin-left: 17px;
}

.margin_b {
  margin-left: 20px;
}

.statistics-txt {
  margin-top: 60px;
  margin-left: 70px;
}